@{
    ViewBag.Title = "Centrum Monitoringu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Authenticate</h3>
<br/>
@*@if (ViewBag.Authenticate == "Pomyślnie uwierzytelniono.")
{*@
    <div>
        @if (ViewBag.ServiceStatus == "true")
        { 
            <b>@ViewBag.Message</b>
        }
        else
        {
            <b>Usługa monitoringu nieaktywna</b>
        }
        
        <div>
            <!--Pracownik-->
            <p>
                <input type="button" value="Podgląd z kamery 1" , onclick="location.href = '@Url.Action("View")?cameraID=' + 1" />
            </p>
            <p>
                <input type="button" value="Podgląd z kamery 2" , onclick="location.href = '@Url.Action("View")?cameraID=' + 2" />
            </p>

            <!--Właściciel-->
            <p>
                <input type="button" value="Włącz monitoring" , onclick="location.href = '@Url.Action("Start")'" />
            </p>
            <p>
                <input type="button" value="Wyłącz monitoring" , onclick="location.href = '@Url.Action("Stop")'" />
            </p>
        </div>
    </div>
@*}*@

<div class="panel-footer">
    <a href="~/Areas/Worker/WorkerPanel.aspx">Powrót</a>
</div>
